#application-review {
  width: 80%;
}

#room-information {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 100%;
}

#user-information {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 50% 50%;
}

.info-panel {
  margin-bottom: 1rem;
  margin-right: 1rem;
}

#info-panel-Name {
  grid-column: 1 /span 2;
  grid-row: 1;
}

#info-panel-Masterstatus {
  grid-column: 3 /span 2;
  grid-row: 1;
}

#info-panel-E-Mail {
  grid-column: 1 /span 2;
  grid-row: 2;
}

#info-panel-Phone {
  grid-column: 3 /span 2;
  grid-row: 2;
}

#info-panel-Preferredroom {
  grid-column: 1 /span 2;
  grid-row: 1;
}

#info-panel-Partner {
  grid-column: 4;
  grid-row: 1;
}

#info-panel-Seatrollover {
  grid-column: 3;
  grid-row: 1;
}

#edit-application {
  margin-left: 0;
  margin-bottom: 1rem;
}
