.waiting-list-button {
  background-color: #FFBD66 !important;
  // border: none !important;
  border: 2px solid #FFBD66 !important;
    border-top-color: #FFBD66 !important;
    border-right-color: #FFBD66 !important;
    border-bottom-color: #FFBD66 !important;
    border-left-color: #FFBD66 !important;
  color: white !important;
}
