.edit-lower-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 3rem;
}

.current-seat-info {
  margin-bottom: 1rem;
  p {
    margin-bottom: 0.5rem;
  }
}

.split-buttons {
  display: flex;
  justify-content: flex-end;
  .knapp {
    margin-left: 0;
    margin-right: 1rem;
  }
}

.revoke-approve-btn {
  width: 30%;
  height: 5%;
}
