.choose-date-button {
  margin-bottom: 1rem !important;
  margin-left: 0 !important;
}

#new-application-season {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: min-content;
}

.season-etikett {
  grid-column: 1;
  grid-row: 2;
}

#appSeason>div {
  display: grid;
  grid-template-columns: 50% 50%;
}

#appSeason {
  margin-bottom: 2rem;
  grid-column: 1 /span 2;
  grid-row: 3;
}

#roomSeason>div {
  display: grid;
  grid-template-columns: 50% 50%;
}

#roomSeason {
  margin-bottom: 2rem;
  grid-column: 1 /span 2;
  grid-row: 4;
}

#room-class {
  #ends {
    margin-right: 0 !important;
  }
}
#new-season-btn {
  grid-column: 1;
  grid-row: 5;
  margin-left: 0 !important;
}
#update-season-btn {
  grid-column: 2;
  grid-row: 5;
  margin-left: 0 !important;
}

@media only screen and (max-width: 600px) {

  #appSeason {
    margin-bottom: 0;
  }

  #appSeason>div,
  #roomSeason>div {
    display: flex;
    flex-direction: column;
  }

  .choose-date-button {
    width: 100%;
  }

  #roomSeason {
    margin-bottom: 1rem;
  }

  #new-season-btn {
    width: 100%;
  }
}
