.form-personal-info {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 10% 45% 45%;
}

.input-full-name {
  grid-column: 1;
  grid-row: 2;
}

.input-masterStatus {
  grid-column: 2;
  grid-row: 2;
}

.input-email {
  grid-column: 1;
  grid-row: 3;
}

.input-phone {
  grid-column: 2;
  grid-row: 3;
}
