html {
  min-height: 100%;
  height: 100%;
}

body {
  margin: 0;
  min-height: inherit;
  height: inherit;
  background-color: #F2F2F2;
  font-family: 'Source Sans Pro', sans-serif;
}

.title-and-button {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  .knapp {
    margin: 0 !important;
  }
}

.lenkepanel-rooms{
  display: grid;
  width: 100%;
  grid-template-columns: 30% 50% 20%;
}

.lenkepanel-applications {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(5, 20%);
}

.modalContent .knapp {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 1rem;
}

#root {
  min-height: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
}

.main-page {
  height: inherit;
  display: grid;
  min-height: 90%;
  grid-template-columns: 20% 5% 65% 10%;
}

.main-content {
  grid-column: 3;
}

.loading-page-spinner {
  margin: auto;
}

.typo-sidetittel {
  margin-top: 1em !important;
  margin-bottom: 0.5em !important;
}

.etikett {
  margin: auto auto 1rem 0;
}

.knapp {
  margin: auto;
}

.page-title {
  margin-bottom: 2rem !important;
}

@media only screen and (max-width: 600px) {
  .main-page {
    display: flex;
    flex-direction: column;
    padding: 0 1rem 0 1rem;
  }
}

@import "~nav-frontend-typografi-style";
@import "~nav-frontend-skjema-style";
@import "~nav-frontend-knapper-style";
@import "~nav-frontend-etiketter-style";
@import "~nav-frontend-paneler-style";
@import "~nav-frontend-grid-style";
@import "~nav-frontend-modal-style";
@import "~nav-frontend-lukknapp-style";
@import "~nav-frontend-alertstriper-style";
@import "~nav-frontend-lenkepanel-style";
@import "~nav-frontend-veilederpanel-style";
@import "~nav-frontend-ekspanderbartpanel-style";
@import "~nav-frontend-spinner-style";
