html, body {
  margin: 0;
  height: 100%;
  background-color: #F2F2F2;
  font-family: 'Source Sans Pro', sans-serif;
}

.title-and-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  .knapp {
    margin: 0 !important;
  }
}

.lenkepanel-rooms{
  display: grid;
  width: 100%;
  grid-template-columns: 30% 50% 20%;
}

.lenkepanel-applications {
  display: grid;
  width: 100%;
  grid-template-columns: 10% 25% 20% 20% 15% auto;
}

.modalContent .knapp {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 1rem;
}

#root {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

.main-page {
  height: inherit;
  display: grid;
  min-height: 90%;
  grid-template-columns: 20% 5% 70% 5%;
}

.main-content {
  grid-column: 3;
  margin-bottom: 2rem;
}

.loading-page-spinner {
  margin: auto;
}

.typo-sidetittel {
  margin-top: 1em !important;
  margin-bottom: 0.5em !important;
}

.typo-innholdstittel {
  margin-bottom: 1rem !important;
}

.etikett {
  margin: auto auto 1rem 0;
}

.knapp {
  margin: auto;
}

.page-title {
  margin-bottom: 2rem !important;
}

@media only screen and (max-width: 600px) {
  .main-page {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .main-content {
    padding: 0 1rem 0 1rem;
  }
  .title-and-button {
    flex-direction: column;
    .knapp {
      width: 100%;
    }
  }
}

@import "~nav-frontend-typografi-style";
@import "~nav-frontend-skjema-style";
@import "~nav-frontend-knapper-style";
@import "~nav-frontend-etiketter-style";
@import "~nav-frontend-paneler-style";
@import "~nav-frontend-grid-style";
@import "~nav-frontend-modal-style";
@import "~nav-frontend-lukknapp-style";
@import "~nav-frontend-alertstriper-style";
@import "~nav-frontend-lenkepanel-style";
@import "~nav-frontend-veilederpanel-style";
@import "~nav-frontend-ekspanderbartpanel-style";
@import "~nav-frontend-spinner-style";
@import "~nav-frontend-hjelpetekst-style";
