body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #F2F2F2;
  font-family: 'Source Sans Pro', sans-serif;
}

@import "~nav-frontend-typografi-style";
@import "~nav-frontend-skjema-style";
@import "~nav-frontend-knapper-style";
@import "~nav-frontend-etiketter-style";
