.student-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: #00509e;
  align-items: center;
  min-height: 8%;
  color: #ffffff;
}

#logoutButton {
  margin: 1.2rem;
  background: #F2F2F2;
}

#hamburger-menu {
  display: none;
}

@media only screen and (max-width: 600px) {
  .student-header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #hamburger-menu {
    display: initial;
    height: 70%;
    margin-left: 1rem;
  }
}
