.room-link {
  display: grid;
  grid-template-columns: 33% 33% 34%;
  width: 90%;
}

#create-room-title {
  display: flex;
  justify-content: space-between;
}

#redirect-new-room {
  margin: 0 !important;
}
