.room-link {
  display: grid;
  grid-template-columns: 33% 33% 34%;
  width: 90%;
}

.link-notes {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 0.5rem;
}

#create-room-title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

#redirect-new-room {
  margin: 0 !important;
}

@media only screen and (max-width: 600px) {
  #create-room-title {
    display: flex;
    flex-direction: column;
  }

  .room-link {
    width: 100%;
  }

  .link-name {
    grid-column: 1 /span 2;
  }

  .link-notes,
  .link-seats {
    display: none;
  }
}
